# ===============================
# Maven
# ===============================
/target/
!**/src/main/**
!**/src/test/**

# ===============================
# IntelliJ
# ===============================
.idea/
*.iws
*.iml
*.ipr

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Maven Wrapper jar (NO ignorar)
# ===============================
!.mvn/wrapper/maven-wrapper.jar

# ===============================
# Docker local volumes
# ===============================
**/docker-data/

# ===============================
# Local environment files
# ===============================
.env
